<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radius Checker</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-369L1CY7FP"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-369L1CY7FP');
    </script>

    <meta property="og:image" content="https://radius-checker.bronthulke.com.au/radius-checker.png" />

</head>
<body>

    <div class="container">
        <h2>Quick and dirty radius checker tool!</h2>

        <p>This will tell you where you can travel based on a selected radius.</p>

        <div class="row form-group">
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label class="control-label">Enter your address</label>
                <input type="text" id="SearchAddress" class="form-control" />
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
                <label class="control-label">Radius</label>
                <select id="ddlRadius" class="form-control">
                    <option value="5000">5km</option>
                    <option value="10000">10km</option>
                    <option value="15000" selected="">15km</option>
                    <option value="20000">20km</option>
                    <option value="25000">25km</option>
                </select>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
                <label class="control-label">&nbsp;</label>
                <br />
                <input type="button" class="btn btn-primary" id="btnAddToMap" value="Add to map" />
                &nbsp;&nbsp;<input type="button" class="btn btn-danger" id="btnClearMap" value="Clear map" />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <a href="javascript:;" class="btn btn-success hidden" id="btnSetAsFavourite">Set last point as favourite</a>
                <a href="javascript:;" class="btn btn-warning hidden" id="btnLoadFavourite"><img src="assets/star.svg" height="18" />&nbsp; Load favourite</a>
                <a href="javascript:;" class="btn btn-default hidden" id="btnClearFavourite">Clear favourite</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <label class="control-label">Toggle Businesses</label>
                <input type="checkbox" id="toggleBusinesses" checked />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="map"></div>
            </div>
        </div>

        <div class="row">
            <p>Created by Bron Thulke. Code available at <a href="https://github.com/bronthulke/radius-checker">https://github.com/bronthulke/radius-checker</a></p>
        </div>
    </div>

    <script src='./main.js'></script>

    <!-- <script type="text/javascript" src='jquery.geocomplete.min.js'></script> -->
    <script
      src="<%= htmlWebpackPlugin.options.apiUrl %>"
      defer
    ></script>

</body>
</html>
